/* Meh */
body {
  font-family: "Open Sans", sans-serif;
}
body p {
  font-size: px;
}
.collapse-area {
  background: lightsalmon;
}
.panel {
  margin-top: 0px !important;
  border-radius: 0px !important;
  border: none;
  border-bottom-color: #d7d8dc;
  box-shadow: 0 0px 0px 0 transparent !important;
  -moz-box-shadow: 0 0px 0px 0 transparent !important;
  -webkit-box-shadow: 0 0px 0px 0 transparent !important;
  -o-box-shadow: 0 0px 0px 0 transparent !important;
}
.panel .panel-heading {
  border-radius: 0px !important;
  background: #f5f6f8;
  padding: 0px !important;
  border-bottom: 0px solid #dddee2;
}
.panel .panel-heading .panel-title a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 23px 15px;
  font-weight: 300;
  color: #60626d;
  background-color: #ffffff;
  line-height: 29px;
  position: relative;
}
.panel .panel-heading .panel-title a:hover,
.panel .panel-heading .panel-title a:active {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  color: #9a4a5a;
}
.panel .panel-heading .panel-title a span {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel .panel-heading .panel-title a .bar,
.panel .panel-heading .panel-title a .bar:after {
  border-width: 1px;
  border-style: solid;
  width: 21px;
  border-radius: 10px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel .panel-heading .panel-title a .bar:after {
  content: "";
  height: 0;
  position: absolute;
  top: 38px;
  left: 15px;
}
.panel .panel-heading .panel-title a.collapsed {
  background-color: #f5f6f8 !important;
  border-bottom: 1px solid #eeeef3;
  position: relative;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel .panel-heading .panel-title a.collapsed .bar {
  border-color: #75767f;
}
.panel .panel-heading .panel-title a.collapsed .bar:after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  border-color: #75767f;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel-collapse {
  background-color: #ffffff;
}
.panel-collapse .panel-body {
  background-color: #ffffff;
  border: 0px solid !important;
  line-height: 26px;
  font-weight: 300;
  margin-left: 50px;
  padding-bottom: 20px;
  padding-top: 0px;
  color: #60626d;
}
/*  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightsalmon;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.row {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  min-width: 412px;
}

.warning-input::-webkit-input-placeholder {
  font-weight: bold;
  color: red;
}
.collapse-area {
  height: 100%;
}
input[type="submit"],
button {
  padding: 1px 10px;
  margin: 5px 0px;
}
input[type="text"],
input[type="number"] {
  width: 40%;
}
input[type="checkbox"] {
  margin: 0;
}
.item {
  display: grid;
  grid-template-columns: 20px 2fr 1fr 1fr 1fr;
  margin-bottom: 3px;
  grid-gap: 2px;
}
.item * {
  display: inline;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.item input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
}
.panel-group {
  box-shadow: 10px 7px 0.5px lightcoral;
}
h4.panel-title {
  font-size: 30px;
  font-weight: 100;
  text-shadow: 1px 1px lightgrey;
}
.button {
  background-color: white;
  border: 1px solid lightgray;
}
.button:hover {
  box-shadow: 2px 2px lightcoral;
}
.hide {
  display: none;
}
